:root {
    --cor-de-fundo: #f4f3f1;
    --branco: #FFFFFF;
    --preto: #1b1b1b;
    --cinza: #2f2f2f;
    --vermelho-destaque: #A40000;
    --marrom: #5d4037;
    --fonte-principal: 'Crimson Text', serif;
    --fonte-secundaria: 'Poppins', sans-serif;
    --azul: #002F52;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    color: var(--preto);
}
