.carrossel__titulo {
    font-family: var(--fonte-principal);
    color: var(--vermelho-destaque); /* Destaque em vermelho */
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.swiper-slide img {
    border: 2px solid var(--vermelho-destaque); /* Borda para destacar os livros */
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.swiper-slide img:hover {
    transform: scale(1.05); /* Pequeno aumento ao passar o mouse */
}
