.cabeçalho {
    background-color: var(--preto); /* Fundo mais escuro */
    color: var(--branco);
    border-bottom: 2px solid var(--vermelho-destaque); /* Linha vermelha para destaque */
}

.container__titulo {
    font-family: var(--fonte-secundaria);
    color: var(--branco);
    font-weight: 700;
    letter-spacing: 2px;
}
